<section class="discount py-80">
        <div class="container container-lg">
            <div class="row gy-4">
                <div class="col-xl-6">
                    <div class="discount-item rounded-16 overflow-hidden position-relative z-1 h-100 d-flex flex-column align-items-start justify-content-center">
                        <img src="assets/images/bg/discount-bg1.jpg" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1">
                        <div class="w-100 flex-between gap-20">
                            <div class="discount-item__content">
                                <span class="fw-semibold text-tertiary-600 mb-20">MÁS DE 30% Desc.</span>
                                <h6 class="mb-20">57" Odyssey Neo G9 Dual 4K UHD Quantum Mini-LED</h6>
                                <a href="shop.php" class="btn btn-outline-black rounded-pill gap-8" tabindex="0">
                                    Compra Ahora
                                </a>
                            </div>
                            <img src="assets/images/thumbs/discount-img1.png" alt="" class="d-sm-block d-none">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="discount-item rounded-16 overflow-hidden position-relative z-1 h-100 d-flex flex-column align-items-center justify-content-center">
                        <img src="assets/images/bg/discount-bg2.jpg" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1">
                        <div class="w-100 flex-between gap-20">
                            <div class="discount-item__content">
                                <span class="fw-semibold text-tertiary-600 mb-20">MÁS DE 30% Desc.</span>
                                <h6 class="mb-20">57" Odyssey Neo G9 Dual 4K UHD Quantum Mini-LED</h6>
                                <a href="shop.php" class="btn btn-outline-black rounded-pill gap-8" tabindex="0">
                                    Compra Ahora
                                </a>
                            </div>
                            <img src="assets/images/thumbs/discount-img2.png" alt="" class="d-sm-block d-none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
