<div class="top-brand py-80">
        <div class="container container-lg">
            <div class="border border-gray-100 p-24 rounded-16">
                <div class="section-heading mb-24">
                    <div class="flex-between flex-wrap gap-8">
                        <h5 class="mb-0">Marcas Principales</h5>
                        <div class="flex-align gap-8">
                            <button type="button" id="topBrand-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-two-600 text-xl hover-bg-main-two-600 hover-text-white transition-1">
                                <i class="ph ph-caret-left"></i>
                            </button>
                            <button type="button" id="topBrand-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-two-600 text-xl hover-bg-main-two-600 hover-text-white transition-1">
                                <i class="ph ph-caret-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="top-brand__slider">
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img1.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img2.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img3.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img4.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img5.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img6.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img7.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img8.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="top-brand__item flex-center rounded-8 border border-gray-100 hover-border-gray-200 transition-1 px-8">
                            <img src="assets/images/thumbs/top-brand-img5.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
