<div class="Nuevosletter-two bg-neutral-600 py-32">
        <div class="container container-lg">
            <div class="flex-between gap-20 flex-wrap">
                <div class="flex-align gap-22">
                    <span class="d-flex"><img src="assets/images/icon/envelop.png" alt=""></span>
                    <div>
                        <h5 class="text-white mb-12 fw-medium">Unete a nuestro Newsletter y Obtén un 10% Desc.</h5>
                        <p class="text-white fw-light">Obtén la información más reciente sobre ventas y ofertas.</p>
                    </div>
                </div>
                <form action="#" class="Nuevosletter-two__form w-50">
                    <div class="flex-align gap-16">
                        <input type="text" class="common-input style-two rounded-8 flex-grow-1 py-14" placeholder="Introduce tu Aquí tu Email">
                        <button type="submit" class="btn btn-main-two flex-shrink-0 rounded-8 py-16"> Suscribirme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
