  <!-- ========================= Top Selling Products Start ================================ -->
    <section class="top-selling-products pt-80">
        <div class="container container-lg">
            <div class="border border-gray-100 p-24 rounded-16">
                <div class="section-heading mb-24">
                    <div class="flex-between flex-wrap gap-8">
                        <h5 class="mb-0">Productos Más Vendidos</h5>
                        <div class="flex-align gap-16">
                            <a href="shop.php" class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline">Ver Todas Las Ofertas</a>
                            <div class="flex-align gap-8">
                                <button type="button" id="top-selling-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-neutral-600 text-xl hover-bg-neutral-600 hover-text-white transition-1">
                                    <i class="ph ph-caret-left"></i>
                                </button>
                                <button type="button" id="top-selling-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-neutral-600 text-xl hover-bg-neutral-600 hover-text-white transition-1">
                                    <i class="ph ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-12">
                    <div class="col-md-4">
                        <div class="position-relative rounded-16 overflow-hidden p-28 z-1 text-center">
                            <img src="assets/images/bg/deal-bg.png" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 z-n1 w-100 h-100">
                            <div class="py-xl-4">
                                <h6 class="mb-4 fw-semibold">Polaroid Now+ Gen 2 - White</h6>
                                <h5 class="mb-40 fw-semibold">Fresh Vegetables</h5>
                                <a href="cart.php" class="btn text-heading border-neutral-600 hover-bg-neutral-600 hover-text-white py-16 px-24 flex-center d-inline-flex rounded-pill gap-8 fw-medium" tabindex="0">
                                    Compra Ahora <i class="ph ph-shopping-cart text-xl d-flex"></i>
                                </a>
                            </div>
                            <div class="d-md-block d-none mt-36">
                                <img src="assets/images/thumbs/deal-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="top-selling-product-slider arrow-style-two" *ngIf="bestSeller && bestSeller.length > 0; else noDataTemplate">


                          <div *ngFor="let product of bestSeller; let i = index">
                                <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                                    <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                        <span class="product-card__badge bg-main-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Vendido </span>
                                      <img [src]="product.thumbnail_image" [alt]="product.name" class="product-thumbnail"/>
                                    </a>
                                    <div class="product-card__content mt-16">
                                        <div class="flex-align gap-6">
                                            <span class="text-xs fw-medium text-gray-500" *ngIf="product.rating > 0">{{ product.rating }}</span>
                                            <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                            <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                        </div>
                                        <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                            <a [href]="product.links.details" target="_blank" class="link text-line-2" tabindex="0">{{ product.name }}</a>
                                        </h6>
                                        <div class="flex-align gap-4">
                                            <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                            <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                        </div>
                                        <div class="mt-8">
                                            <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                            </div>
                                            <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: {{ product.sales }}/{{ product.stock }}</span>
                                        </div>

                                        <div class="product-card__price my-20">
                                          <ng-container *ngIf="product.has_discount">
                                            <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> ${{ product.stroked_price }}</span>
                                          </ng-container>

                                            <span class="text-heading text-md fw-semibold ">${{ product.main_price }} <span class="text-gray-500 fw-normal">c/u</span> </span>
                                        </div>

                                        <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                            Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>




                        </div>
                      <ng-template #noDataTemplate>
                        <p>No best-selling products available at the moment.</p>
                      </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= Top Selling Products End ================================ -->
