<section class="deals-weeek pt-80">
        <div class="container container-lg">
            <div class="border border-gray-100 p-24 rounded-16">
                <div class="section-heading mb-24">
                    <div class="flex-between flex-wrap gap-8">
                        <h5 class="mb-0">Ofertas de La Semana</h5>
                        <div class="flex-align gap-16">
                            <a href="shop.php" class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline">Ver Todas Las Ofertas</a>
                            <div class="flex-align gap-8">
                                <button type="button" id="deal-week-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-neutral-600 text-xl hover-bg-neutral-600 hover-text-white transition-1">
                                    <i class="ph ph-caret-left"></i>
                                </button>
                                <button type="button" id="deal-week-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-neutral-600 text-xl hover-bg-neutral-600 hover-text-white transition-1">
                                    <i class="ph ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="deal-week-box rounded-16 overflow-hidden flex-between position-relative z-1 mb-24">
                    <img src="assets/images/bg/week-deal-bg.png" alt="" class="position-absolute inset-block-start-0 inset-block-start-0 w-100 h-100 z-n1 object-fit-cover">
                    <div class="d-lg-block d-none ps-32 flex-shrink-0">
                        <img src="assets/images/thumbs/week-deal-img1.png" alt="">
                    </div>
                    <div class="deal-week-box__content px-sm-4 d-block w-100 text-center">
                        <h6 class="mb-20">Apple AirPods Max, Over Ear Headphones</h6>
                        <div class="countdown mt-20" id="countdown4">
                            <ul class="countdown-list style-four flex-center flex-wrap">
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600">
                                    <span class="days"></span>Days
                                </li>
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600">
                                    <span class="hours"></span>Hour
                                </li>
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600">
                                    <span class="minutes"></span>Min
                                </li>
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600">
                                    <span class="seconds"></span>Sec
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-lg-block d-none flex-shrink-0 pe-xl-5">
                        <div class="me-xxl-5">
                            <img src="assets/images/thumbs/week-deal-img2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="deals-week-slider arrow-style-two">
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-main-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Vendido </span>
                                <img src="assets/images/thumbs/product-two-img1.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-danger-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Venta 50% </span>
                                <img src="assets/images/thumbs/product-two-img2.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-warning-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Nuevo </span>
                                <img src="assets/images/thumbs/product-two-img3.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-tertiary-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Mejor Vendido</span>
                                <img src="assets/images/thumbs/product-two-img4.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-main-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Mejor Vendido </span>
                                <img src="assets/images/thumbs/product-two-img5.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-tertiary-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Mejor Vendido</span>
                                <img src="assets/images/thumbs/product-two-img6.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="product-card h-100 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details-two.php" class="product-card__thumb flex-center rounded-8 bg-white-white position-relative">
                                <span class="product-card__badge bg-warning-600 px-8 py-4 text-sm text-white position-absolute inset-inline-start-0 inset-block-start-0">Nuevo </span>
                                <img src="assets/images/thumbs/product-two-img9.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content mt-16">
                                <div class="flex-align gap-6">
                                    <span class="text-xs fw-medium text-gray-500">4.8</span>
                                    <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-xs fw-medium text-gray-500">(17k)</span>
                                </div>
                                <h6 class="title text-lg fw-semibold mt-12 mb-8">
                                    <a href="product-details-two.php" class="link text-line-2" tabindex="0">Taylor Farms Broccoli Florets Vegetables</a>
                                </h6>
                                <div class="flex-align gap-4">
                                    <span class="text-tertiary-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                    <span class="text-gray-500 text-xs">Tienda Lucky Supermarket</span>
                                </div>
                                <div class="mt-8">
                                    <div class="progress w-100 bg-color-three rounded-pill h-4" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-tertiary-600 rounded-pill" style="width: 35%"></div>
                                    </div>
                                    <span class="text-gray-900 text-xs fw-medium mt-8">Vendido: 18/35</span>
                                </div>

                                <div class="product-card__price my-20">
                                    <span class="text-gray-400 text-md fw-semibold text-decoration-line-through"> $28.99</span>
                                    <span class="text-heading text-md fw-semibold ">$14.99 <span class="text-gray-500 fw-normal">c/u</span> </span>
                                </div>

                                <a href="cart.php" class="product-card__cart btn bg-gray-50 text-heading hover-bg-main-600 hover-text-white py-11 px-24 rounded-8 flex-center gap-8 fw-medium" tabindex="0">
                                    Agregar al Carrito <i class="ph ph-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
