<section class="popular-products pt-80">
        <div class="container container-lg">
            <div class="border border-gray-100 p-24 rounded-16">
                <div class="section-heading mb-24">
                    <div class="flex-between flex-wrap gap-8">
                        <h5 class="mb-0">Productos Populares</h5>
                        <div class="flex-align gap-16">
                            <a href="shop.php" class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline">Ver Todo Products</a>
                        </div>
                    </div>
                </div>

                <div class="popular-products-box rounded-16 overflow-hidden flex-between position-relative z-1 mb-24">
                    <img src="assets/images/bg/expensive-offer-bg.png" alt="" class="position-absolute inset-block-start-0 inset-block-start-0 w-100 h-100 z-n1">
                    <div class="d-lg-block d-none ps-32">
                        <img src="assets/images/thumbs/expensive-offer1.png" alt="">
                    </div>
                    <div class="popular-products-box__content px-sm-4 d-block w-100 text-center py-20">
                        <div class="flex-align gap-16 justify-content-center">
                            <h6 class="mb-0">Oferta Exclusiva</h6>
                            <h4 class="mb-0">45% Desc.</h4>
                        </div>
                        <div class="countdown mt-4" id="countdown10">
                            <ul class="countdown-list style-four flex-center flex-wrap">
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600 w-72 h-72">
                                    <span class="days"></span>Días
                                </li>
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600 w-72 h-72">
                                    <span class="hours"></span>Horas
                                </li>
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600 w-72 h-72">
                                    <span class="minutes"></span>Min
                                </li>
                                <li class="countdown-list__item flex-align flex-column text-sm fw-medium text-white rounded-circle bg-neutral-600 w-72 h-72">
                                    <span class="seconds"></span>Seg
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-lg-block d-none ">
                        <img src="assets/images/thumbs/expensive-offer2.png" alt="">
                    </div>
                </div>

                <div class="row gy-4">
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img1.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Headphone & Earphone</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img2.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">TV & Smart Home</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img3.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Video Games</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img4.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Computadoras & Tablets</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img5.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Car & GPS</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img6.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Camera & Video</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img7.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Kitchen Appliance</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-sm-6 col-xs-6">
                        <div class="product-card h-100 d-flex gap-16 p-16 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                            <a href="product-details.php" class="product-card__thumb flex-center h-unset rounded-8 bg-white-white position-relative w-unset flex-shrink-0 p-24" tabindex="0">
                                <img src="assets/images/thumbs/popular-img8.png" alt="" class="w-auto max-w-unset">
                            </a>
                            <div class="product-card__content flex-grow-1">
                                <h6 class="title text-lg fw-semibold mb-12">
                                    <a href="product-details.php" class="link text-line-2" tabindex="0">Phone & Accessories</a>
                                </h6>
                                <span class="text-gray-600 text-sm mb-4">Wired Headphones</span>
                                <span class="text-gray-600 text-sm mb-4">Over-Ear Headphone</span>
                                <span class="text-gray-600 text-sm mb-4">Sports Headphone</span>
                                <span class="text-gray-600 text-sm mb-0">Earbud Headphone</span>

                                <a href="shop.php" class="text-tertiary-600 flex-align gap-8 mt-24">
                                    Busca tus Piezas
                                    <i class="ph ph-arrow-right d-flex"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
