 <div class="banner-two">
        <div class="container container-lg">
            <div class="banner-two-wrapper d-flex align-items-start">

                <div class="w-265 d-lg-block d-none flex-shrink-0">
                    <div class="responsive-dropdown style-two common-dropdown nav-submenu p-0 submenus-submenu-wrapper shadow-none border border-gray-100 position-relative border-top-0">
                        <button type="button" class="close-responsive-dropdown rounded-circle text-xl position-absolute inset-inline-end-0 inset-block-start-0 mt-4 me-8 d-lg-none d-flex"> <i class="ph ph-x"></i> </button>

                        <div class="logo px-16 d-lg-none d-block">
                            <a href="index.php" class="link">
                                <img src="assets/images/logo/logo.png" alt="Logo">
                            </a>
                        </div>

                        <ul class="responsive-dropdown__list scroll-sm p-0 py-8 overflow-y-auto">
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Vehículos</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Vehículos</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Motocicletas</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Motocicletas</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Computadoras</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Computadoras</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Refrigeración</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Refrigeración</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Cocina</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Cocina</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Ferretería</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Ferretería</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Celulares & Tablets</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Celulares & Tablets</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span> Seguridad Industrial (EPP)</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title"> Seguridad Industrial (EPP)</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Radio y Televisión</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Radio y Televisión</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="has-submenus-submenu">
                                <a href="javascript:void(0)" class="text-gray-500 text-15 py-12 px-16 flex-align gap-8 rounded-0">
                                    <span>Instrumentos Musicales</span>
                                    <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                                </a>

                                <div class="submenus-submenu py-16">
                                    <h6 class="text-lg px-16 submenus-submenu__title">Instrumentos Musicales</h6>
                                    <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                        <li>
                                            <a href="shop.php">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Iphone</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Vivo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Oppo</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Itel</a>
                                        </li>
                                        <li>
                                            <a href="shop.php">Realme</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="banner-item-two-wrapper rounded-24 overflow-hidden position-relative arrow-center flex-grow-1 mb-0 bannerheight">
                    <img src="assets/images/bg/banner-two-bg.png" alt="" class="banner-img position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1 object-fit-cover rounded-24">
                    <div class="banner-item-two__slider">
                        <div class="banner-item-two1">
                            <div class="banner-item-two__content">
                                <span class="text-white mb-8 h6">Motores desde RD$15,000</span>
                                <h2 class="banner-item-two__title bounce text-white">El Motor que Buscas por Menos</h2>
                                <a href="shop.php" class="btn btn-outline-white d-inline-flex align-items-center rounded-pill gap-8 mt-48">
                                    Comprar Ahora<span class="icon text-xl d-flex"><i class="ph ph-shopping-cart-simple"></i> </span>
                                </a>
                            </div>
                            <div class="banner-item-two__thumb position-absolute bottom-0">
                                <img src="assets/images/thumbs/banner-two-img.png" alt="">
                            </div>
                        </div>
                        <div class="banner-item-two1">
                            <div class="banner-item-two__content">
                                <span class="text-white mb-8 h6">Las Mejores Marcas</span>
                                <h2 class="banner-item-two__title bounce text-white">En un Mismo Lugar</h2>
                                <span class="text-white mb-8 h6">Buscalas en tu tienda mas cercana!</span>
                                <a href="shop.php" class="btn btn-outline-white d-inline-flex align-items-center rounded-pill gap-8 mt-48">
                                    Comprar Ahora<span class="icon text-xl d-flex"><i class="ph ph-shopping-cart-simple"></i> </span>
                                </a>
                            </div>
                            <div class="banner-item-two__thumb position-absolute bottom-0">
                                <img src="assets/images/thumbs/banner-two-img2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- ============================ Banner Section End =============================== -->

    <!-- ============================ promotional banner Start ========================== -->
   <app-promotional-banner></app-promotional-banner>
    <!-- ============================ promotional banner End ========================== -->

    <!-- ========================= Deals Week Start ================================ -->
    <app-deals-week></app-deals-week>
    <!-- ========================= Deals Week End ================================ -->


   <app-top-selling-products></app-top-selling-products>

    <!-- ========================= Trending Products Start ================================ -->
    <app-trending-products></app-trending-products>

    <!-- =============================== Discount Start ============================ -->
   <app-discount-section></app-discount-section>
    <!-- =============================== Discount End ============================ -->
     <app-featured-product></app-featured-product>


    <!-- ========================= Big Deal Section Start =============================== -->
  <app-bigdeal-banner></app-bigdeal-banner>
    <!-- ========================= Big Deal Section End =============================== -->


    <!-- ========================= Top Selling Products Start ================================ -->
    <app-recommended-product></app-recommended-product>
    <!-- ========================= Top Selling Products End ================================ -->


    <!-- ========================= Popular Products Start ================================ -->
    <app-popular-products></app-popular-products>
    <!-- ========================= Popular Products End ================================ -->


    <!-- =========================== Top Vendor Section Start ========================== -->
 <app-top-vendors></app-top-vendors>
    <!-- =========================== Top Vendor Section End ========================== -->


    <!-- ================================== Day Venta Section Start =================================== -->
    <app-daysale-banner></app-daysale-banner>
    <!-- ================================== Day Venta Section End =================================== -->

    <!-- ========================= recently viewed Start ================================ -->
<app-recently-viewed-products></app-recently-viewed-products>
    <!-- ========================= recently viewed End ================================ -->


    <!-- ============================== Top Brand Section Start ==================================== -->
    <app-top-brands></app-top-brands>
    <!-- ============================== Top Brand Section End ==================================== -->

    <!-- ========================== Shipping Section Start ============================ -->
<app-shipping-info></app-shipping-info>
    <!-- ========================== Shipping Section End ============================ -->

    <!-- =============================== Nuevosletter-two Section Start ============================ -->
<app-newsletter-subscribe></app-newsletter-subscribe>
    <!-- =============================== Nuevosletter-two Section End ============================ -->
