
    <!-- ==================== Footer Two Start Here ==================== -->
    <footer class="footer py-80">
        <div class="container container-lg">
            <div class="footer-item-two-wrapper d-flex align-items-start flex-wrap">
                <div class="footer-item max-w-230">
                    <div class="footer-item__logo">
                        <a href="index.php"> <img src="assets/images/logo/logo_black.png" alt=""></a>
                    </div>
                    <p class="mb-24">Somos el e-commerce más grande a nivel nacional para la compra en linea de todo tipo de piezas.</p>
                    <div class="flex-align gap-16 mb-16">
                        <span class="w-32 h-32 flex-center rounded-circle border border-gray-100 text-main-two-600 text-md flex-shrink-0"><i class="ph-fill ph-phone-call"></i></span>
                        <a href="tel:+8096530808" class="text-md text-gray-900 hover-text-main-600">+809-653-0808</a>
                    </div>
                    <div class="flex-align gap-16 mb-16">
                        <span class="w-32 h-32 flex-center rounded-circle border border-gray-100 text-main-two-600 text-md flex-shrink-0"><i class="ph-fill ph-envelope"></i></span>
                        <a href="mailto:soporte&#64;lapieza.do" class="text-md text-gray-900 hover-text-main-600">soporte&#64;lapieza.do</a>
                    </div>
                    <!-- <div class="flex-align gap-16 mb-16">
                        <span class="w-32 h-32 flex-center rounded-circle border border-gray-100 text-main-two-600 text-md flex-shrink-0"><i class="ph-fill ph-map-pin"></i></span>
                        <span class="text-md text-gray-900 ">789 Inner Lane, California, USA</span>
                    </div> -->
                </div>

                <div class="footer-item max-w-231">
                    <h6 class="footer-item__title">Nosotros</h6>
                    <ul class="footer-menu">
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Perfíl de la Empresa</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Todas las Tiendas</a>
                        </li>

                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=terminos" target="_blank" class="text-gray-600 hover-text-main-600">Términos y Condiciones</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=politicas-seguridad" target="_blank" class="text-gray-600 hover-text-main-600">Politicas de Seguridad</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=politicas-privacidad" target="_blank" class="text-gray-600 hover-text-main-600">Politicas de Privacidad</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=devoluciones" target="_blank" class="text-gray-600 hover-text-main-600">Politicas de Devoluciones</a>
                        </li>


                    </ul>
                </div>

                <div class="footer-item max-w-232">
                    <h6 class="footer-item__title">Servicio al Cliente</h6>
                    <ul class="footer-menu">
                    <li class="mb-16">
                            <a href="https://soporte.lapieza.do/" target="_blank" class="text-gray-600 hover-text-main-600">Centro de Soporte</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/" class="text-gray-600 hover-text-main-600">Reportar Insidencias</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/" class="text-gray-600 hover-text-main-600">Iniciar Disputa</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=preguntas-frecuentes" class="text-gray-600 hover-text-main-600">Preguntas Frecuentes</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Comprar en Línea</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-item max-w-233">
                    <h6 class="footer-item__title">Mi Cuenta</h6>
                    <ul class="footer-menu">
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Mi Cuenta</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Historial de Ordenes</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Carrito de Compras</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Comparar</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Abrir Ticket</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Wishlist</a>
                        </li>

                    </ul>
                </div>

                <div class="footer-item max-w-234">
                    <h6 class="footer-item__title">Información</h6>
                    <ul class="footer-menu">
                        <li class="mb-16">
                            <a href="https://www.lapieza.do/register" class="text-gray-600 hover-text-main-600">Conviértete en Vendedor</a>
                        </li>
                        <li class="mb-16">
                            <a href="shop.php" class="text-gray-600 hover-text-main-600">Programa de Afiliados</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=terminos" target="_blank" class="text-gray-600 hover-text-main-600">Términos y Condiciones</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=politicas-seguridad" target="_blank" class="text-gray-600 hover-text-main-600">Politicas de Seguridad</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=politicas-privacidad" target="_blank" class="text-gray-600 hover-text-main-600">Politicas de Privacidad</a>
                        </li>
                        <li class="mb-16">
                            <a href="https://soporte.lapieza.do/?q=devoluciones" target="_blank" class="text-gray-600 hover-text-main-600">Politicas de Devoluciones</a>
                        </li>

                    </ul>
                </div>

                <div class="footer-item  max-w-235">

                    <h6 class="">Compra En Línea</h6>
                    <p class="mb-16">Descarga Nuestra APP Disponible en:</p>
                    <div class="flex-align gap-8 my-32">
                        <a href="https://www.apple.com/store" class="">
                            <img src="assets/images/thumbs/store-img1.png" alt="">
                        </a>
                        <a href="https://play.google.com/store/apps?hl=en" class="">
                            <img src="assets/images/thumbs/store-img2.png" alt="">
                        </a>
                    </div>

                    <ul class="flex-align gap-16">
                        <li>
                            <a href="https://www.facebook.com" class="w-44 h-44 flex-center bg-main-two-50 text-main-two-600 text-xl rounded-8 hover-bg-main-two-600 hover-text-white">
                                <i class="ph-fill ph-facebook-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="w-44 h-44 flex-center bg-main-two-50 text-main-two-600 text-xl rounded-8 hover-bg-main-two-600 hover-text-white">
                                <i class="ph-fill ph-twitter-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" class="w-44 h-44 flex-center bg-main-two-50 text-main-two-600 text-xl rounded-8 hover-bg-main-two-600 hover-text-white">
                                <i class="ph-fill ph-instagram-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com" class="w-44 h-44 flex-center bg-main-two-50 text-main-two-600 text-xl rounded-8 hover-bg-main-two-600 hover-text-white">
                                <i class="ph-fill ph-linkedin-logo"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>

    <!-- bottom Footer -->
    <div class="bottom-footer bg-color-one py-8">
        <div class="container container-lg">
            <div class="bottom-footer__inner flex-between flex-wrap gap-16 py-16">
                <p class="bottom-footer__text ">La Pieza.DO &copy; 2024 - 2025. Derechos Reservados </p>
                <div class="flex-align gap-8 flex-wrap">
                    <span class="text-heading text-sm">Aceptamos</span>
                    <img src="assets/images/thumbs/payment-method.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== Footer Two End Here ==================== -->
