<section class="day-sale">
        <div class="container container-lg">
            <div class="day-sale-box rounded-16 overflow-hidden flex-between position-relative mb-24 z-1">

                <img src="assets/images/bg/day-sale-bg.png" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 z-n1 w-100 h-100 cover-img">
                <div class="d-xl-block d-none">
                    <img src="assets/images/thumbs/day-sale-img1.png" alt="">
                </div>
                <div class="day-sale-box__content d-block w-100 text-start py-32 ps-lg-0 ps-24">
                    <h3 class="text-white fw-medium mb-24">VENTA DE CYBER LUNES</h3>
                    <h6 class="text-white fw-medium mb-8">MÁS DE 30% Desc.</h6>
                    <h6 class="text-white fw-medium mb-0">Computadoras & Accesorios de Celulares</h6>
                    <a href="shop.php" class="btn btn-outline-white flex-align d-inline-flex rounded-pill gap-8 mt-28" tabindex="0">
                        Compra Ahora <i class="ph ph-plus text-xl d-flex"></i>
                    </a>
                </div>
                <div class="d-md-block d-none pe-xxl-5 pe-md-4">
                    <img src="assets/images/thumbs/day-sale-img2.png" alt="">
                </div>
            </div>
        </div>
    </section>
